<h2 style="color: #0C0;">Teste de página <?php echo 'Olá PHP';?></h2>
<a href="?foo=bar&bar=foo">Teste</a>
<p>Isso é um teste de página do novo template.</p>
<div>#{Request::$method}</div>
<form method="post">
	<input type="text" data-h-render="#{$obj->mostraForm == 1 && 0}" value="#{$obj->ola()}" data-h-disabled="#{$obj->mostraForm}"/>
	<button data-h-disabled="#{$obj->mostraForm}" type="submit">Teste</button>
</form>

<p data-h-source="#{$obj->getData()}" data-h-item="item">#{$item}</p>


<hr/>
<p>TEste teste teste teste #{date('d/m/Y H:i:s')} #{new TesteController()}</p>
<hr/>




<hr/>
<h1>TEste teste teste teste</h1>
<hr/>

<table data-h-source=" #{ $obj->getData( ) } ">
	<tr data-h-item="$key=>$item">
		<td>#{$key} #{$item->nome}</td>
		<td data-h-source="#{$item->getData()}">
			<p>#{$item->nome} #{$key} </p>
		</td>
	</tr>
	<tr>
		<td data-h-source="#{$obj->getData()}">
			<p data-h-item="item2"><a href="dkjjkldgjldkf/#{$item2}/#{$item2->apelido}/#{'#{jhfhjkdf}'}">#{$item2->nome}</a></p>
		</td>
	</tr>
</table>

<select data-h-source="#{$obj->getData()}">
	<option data-h-item="$item" data-h-selected="#{true}" value="#{$item->nome}">#{$item->apelido}</option>
</select>

<script type="text/javascript">
	var nome = #{$obj->nome};
</script>