<h2 style="color: #0C0;">Teste de página <?php echo 'Olá PHP';?></h2>
<a href="?foo=bar&AMP;bar=foo #{'#{$obj->nome}'}">Teste</a>
<p>Isso é um teste de página do novo template.</p>
<div>#{Request::$method}</div>
<form method="post">
	<input type="text" data-h-render="#{$obj->mostraForm == 1 && 0}" value="#{$obj->ola()}" data-h-disabled="#{$obj->mostraForm}"/>
	<button data-h-disabled="#{$obj->mostraForm}" type="submit">Teste</button>
</form>

<p data-h-source="#{$obj->getData()}" data-h-item="item" data-h-render="#{true}">#{$item->nome}</p>


<hr/>
<p>TEste teste teste teste #{date('d/m/Y H:i:s')} #{new TesteController()}</p>
<hr/>




<hr/>
<h1>TEste teste teste teste</h1>
<hr/>

<table data-h-source=" #{ $obj->getData( ) } " data-h-render="#{$obj->mostraForm}">
	<tr data-h-item="$key=>$item">
		<td>#{$key} #{$item->nome}</td>
		<td>
			<p>a</p>
			<p>#{$item->nome} #{$key} </p>
		</td>
	</tr>
	<tr data-h-item="$key2=>$item2">
		<td>#{$key2} #{$item2->nome}</td>
		<td>
			<div>
				<p>b</p>
				<p>#{$item2->nome} #{$key2} </p>
			</div>
		</td>
	</tr>
	
	
	<tr>
		<td data-h-source="#{$obj->getData()}">
			<p data-h-item="$item2"><a href="dkjjkldgjldkf/#{'#{$obj->nome}'}/#{$item2->apelido}/">#{$item2->nome}</a></p>
		</td>
	</tr>
</table>

<select data-h-source="#{$obj->getData()}">
	<option data-h-item="$item" data-h-selected="#{true}" value="#{$item->nome}">#{$item->apelido}</option>
</select>

<script type="text/javascript">
	var nome = #{$obj->nome};
</script>