<h2 style="color: #0C0;">Teste de página <?php echo 'Olá PHP';?></h2>
<a href="?foo=bar&bar=foo">Teste</a>
<p>Isso é um teste de página do novo template.</p>
<div>#{t->nome}</div>
<form method="post">
	<input type="text" value="#{t->ola()}" data-h-render="#{t->mostraForm}" data-h-disabled="#{t->mostraForm}"/>
	<input type="submit"/>
</form>
<table data-h-source="#{t->getDataArray()}">
	<tr>
		<th>Nome</th>
		<th>Lista</th>
	</tr>
	<tr data-h-item="item" data-h-source="#{item[lista]}">
		<td>#{item[nome]}</td>
		<td>
			<table data-h-item="litem">
				<tr>
					<th>Nome</th>
					<th>Item</th>
				</tr>
				<tr>
					<td>#{litem[nome]}</td>
					<td>#{item[nome]}</td>
					
				</tr>
			</table>
				
		</td>
	</tr>
</table>

<table data-h-source="#{t->getData()}">
	<tr>
		<th>Nome</th>
		<th>Lista</th>
	</tr>
	<tr data-h-item="item">
		<td>#{item->nome}</td>
		<td>
			<table data-h-source="#{item->getData()}">
				<tr>
					<th>Nome</th>
					<th>Item</th>
				</tr>
				<tr data-h-item="litem">
					<td>#{litem->nome}</td>
					<td>#{item->nome}</td>
					
				</tr>
			</table>
				
		</td>
	</tr>
</table>


<table data-h-source="#{t->getData()}">
	<tr>
		<th>Nome</th>
		<th>Lista</th>
	</tr>
	<tr data-h-item="item">
		<td>#{item->nome}</td>
		<td>
			<table data-h-source="#{item->getDataArray()}">
				<tr>
					<th>Nome</th>
					<th>Item</th>
				</tr>
				<tr data-h-item="litem">
					<td>#{litem[nome]}</td>
					<td>#{item->nome} #{item->nome} #{item}</td>
					
				</tr>
			</table>
				
		</td>
	</tr>
</table>

<p>#{t->nome}</p>
<form method="post" data-h-render="#{t->mostraForm}" name="teste" action="/framework/sc/garopaba/teste">
	<input type="text" name="teste"/>
	<input type="submit" name="Save" value="save"/>
</form>

<div data-h-component="#{TesteComponent}">
	
</div>